@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --color-bg-main: #f90a06c7;
  --color-bg-secondary: #ea7173;
  --font-main: 'Montserrat', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-third: 'Rubik', sans-serif;
  --color-font-main: #ffff;
  --color-font-secondary: #808080;
  --color-element-preload: #46464b;
  --color-style: #6d00e7;
  --color-bg-third: #2d2d39;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: var(--color-bg-main);
  font-family: var(--font-main);
}

.hide {
  display: none;
}

.wrapper {
  max-width: 1250px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--color-font-main);
}

li,
ul {
  list-style: none;
}

/* HEADER */
header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  /* text-transform: uppercase; */
  font-size: 1.1rem;
}

header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

header .brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .brand img {
  width: 50px;
}
header .brand span {
  color: var(--color-font-main);
  font-size: 2rem;
  font-weight: 900;
}

header .btn-mobile {
  display: none;
  cursor: pointer;
}

header .btn-mobile i {
  color: #ffff;
  font-size: 2rem;
}

/* HEADER END */

/* MAIN */
main {
}

main .hero-section {
  padding: 2rem;
  display: flex;
  margin-top: 1rem;
}

.hero-section .content-text {
  width: 50%;
}

.hero-section .content-text .text h1 {
  color: var(--color-font-main);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.hero-section .content-text .text p {
  line-height: 1.5rem;
  color: #ffffffc5;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.hero-section .content-text .store {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.hero-section .content-text .store div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: #ffff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero-section .content-text .store img {
  width: 25px;
}

.recommendations .recommendation {
  display: flex;
  align-items: center;
}
.icon-c {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-c i {
  margin: auto;
  font-size: 1.4rem;
}

.recommendations .recommendation span {
  line-height: 1.4rem;
  color: #ffffffc5;
  max-width: 300px;
}

/*  */
.imgs-phones-screen {
  /* flex: 1; */
  /* width: 50%; */
  margin-left: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  position: relative;
}
.cricle {
  width: 427px;
  height: 427px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.imgs-phones-screen img {
  position: absolute;
}

#screen-phone-1 {
  margin-left: -121px;
  width: 227px;
}

#screen-phone-2 {
  width: 267px;
  margin-right: -94px;
}

.imgs-phones-screen .icon {
  width: 70px;
  height: 70px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imgs-phones-screen .icon-geo {
  position: absolute;
  bottom: 0;
  left: 25px;
}

.imgs-phones-screen .icon-bell {
  position: absolute;
  bottom: -35px;
  left: 148px;
}

.imgs-phones-screen .icon i {
  margin: auto;
  font-size: 1.8rem;
}

.benefits-section {
  background-color: #fff;
  margin-top: 6rem;
  position: relative;
  /* width: 100%;
  height: 100vh; */
}
.benefits-section .content {
  padding-top: 4rem;
}
/* Animações */

.benefits-section .wave {
  position: absolute;
  top: -77px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/imgs/wave.png);
  background-size: 1000px 100px;
}

.benefits-section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.benefits-section .wave.wave2 {
  animation: animate 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.benefits-section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.benefits-section .wave.wave4 {
  animation: animate 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 20px;
}

/* doing */
.benefits-section .text-init {
  padding: 3rem;
  text-align: center;
}

.benefits-section .text-init h2 span,
.text-init h2 {
  font-size: 42px;
  margin-bottom: 0;
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 300;
}

.text-init h2 {
  color: #000;
  font-weight: 600;
}

.benefits-section .text-init p {
  font-family: var(--font-third);
  color: #646464;
  margin: auto;
  max-width: 700px;
  font-size: 1.1rem;
  padding-top: 1.2rem;
  line-height: 28px;
  font-weight: 400;
}

.box {
  /* background-color: #fff; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  width: 1000px;
  margin: auto;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 2rem 2rem 0;

  display: flex;
  gap: 3rem;
  position: relative;
}

.screen-phone-benefits {
}

.cricle-benefits {
  background-color: var(--color-bg-main);
  position: relative;
}
.screen-phone-benefits img {
  width: 300px;
  position: absolute;
  top: -80px;
  right: 60px;
}

.benefits-content-right .icon,
.benefits-content-left .icon {
  display: flex;
}

.benefits-content-left .icon {
  justify-content: flex-end;
}
.benefits-content .icon i {
  background-color: #ea71732c;
  padding: 1.4rem;
  border-radius: 1.5rem;
  font-size: 1.4rem;
}

.benefits-content .benefits span {
  font-size: 1.1rem;
  font-weight: bold;
}

.benefits-content-left .benefits p {
  line-height: 1.5rem;
  font-size: 1rem;
}
.benefits-content-left .benefits p,
.benefits-content-left .benefits span {
  display: block;
  text-align: -webkit-right;
}

.benefits {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* How Use */
.how-use {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-top: 9rem;
  gap: 10rem;
  position: relative;
}

.how-use h2 {
  font-size: 2rem;
  font-family: var(--font-secondary);
}

.how-use .step {
  display: flex;
  gap: 2rem;
  margin: 5rem 0;
}
.how-use .text {
  width: 350px;
  line-height: 2rem;
}

.how-use .number {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #333333;
  background-color: #fff;
  color: #2d2d39;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border: 3px solid #3333332a;
}

.line {
  /* display: none; */
  width: 3px;
  height: 524px;
  background-color: #3333332a;
  position: absolute;
  margin-left: 26px;
  margin-top: -40px;
}

.line-grenn {
  width: 3px;
  height: 156px;
  background-color: #75ff62;
  background-color: #ea7173;
  position: absolute;
  margin-left: 26px;
  margin-top: -40px;
}

.how-use .container-img img {
  width: 334px;
}

#number-1 {
  background-color: #ea7173;
  color: #fff;
}

/* Team Members */

.team-section {
  background-color: #fff;
}

.team-section-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
}
.team-header {
  padding-bottom: 3rem;
}

.team-header h3 {
  font-family: var(--font-third);
  font-size: 42px;
  margin-bottom: 0;
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 300;
}
.highlight {
  font-weight: 600;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.team-card {
  background-color: #fff;
  display: flex;
  max-width: 523px;

  gap: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 60px 0 rgba(90, 73, 248, 0.15);
  padding: 30px;
  /* text-align: center; */

  font-family: var(--font-secondary);
}

.team-card .container-img {
}

.team-card .container-img img {
  width: 250px; /* Largura fixa do contêiner */
  height: 235px; /* Altura fixa do contêiner */
  object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorção */
}

.team-name {
  font-size: 24px;
  text-transform: capitalize;
  margin: 0;
  transition: 0.1s;
}

.team-role {
  font-size: 16px;
  font-weight: 500;
  color: #5a49f8;
  font-family: 'Rubik', sans-serif;
  margin: 5px 0 18px 0;
  transition: 0.1s;
}

.team-bio {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  /* justify-content: center; */
  gap: 1.2rem;
}

.social-links a {
  color: #666;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--color-bg-secondary);
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
